body {
  background: #cecece;
}

p {
  color: rgb(34, 34, 34);
}

.foto-principal{ /*adiciona aparência na classe desejada (obrigatório .).*/
  width: 200px; /*widht = tamanho da imagem em pixels*/
  border: 2px solid #ffffff; /*border = adicona borda a imagem / px = tamanho da borda em pixels / shorthand */
  border-radius: 50%;
  /*border-radius: 50% 30% 40% 70%; cada porcentagem para cada borda*/
  /*
  border-width:5px
  border-style: solid  
  border-color: black
  */
}